
// .card {
//     --card-gradient: rgba(0, 0, 0, 0.8);
//     --card-gradient: #5e9ad9, #e271ad;
//     --card-blend-mode: overlay;
  
//     background-color: #fff;
//     border-radius: 0.5rem;
//     box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
//     padding-bottom: 1rem;
//     background-image: linear-gradient(
//       var(--card-gradient),
//       white max(9.5rem, 27vh)
//     );
//     overflow: hidden;
  
//     img {
//       border-radius: 0.5rem 0.5rem 0 0;
//       width: 100%;
//       object-fit: cover;
//       max-height: max(10rem, 30vh);
//       aspect-ratio: 4/3;
//       mix-blend-mode: var(--card-blend-mode);
  
//       ~ * {
//         margin-left: 1rem;
//         margin-right: 1rem;
//       }
//     }
  
//     > :last-child {
//       margin-bottom: 0;
//     }
  
//     &:hover,
//     &:focus-within {
//       --card-gradient: #24a9d5 max(8.5rem, 20vh);
//     }
//   }
  
//   * {
//     box-sizing: border-box;
//   }
  
//   body {
//     display: grid;
//     place-content: center;
//     justify-items: center;
//     min-height: 100vh;
//     margin: 0;
//     padding: 1rem;
//     line-height: 1.5;
//     font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
//       helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
//     color: #444;
//     background-color: #e1faf1;
//   }
  
//   // .card h3 {
//   //   margin-top: 1rem;
//   //   font-size: 1.25rem;
//   // }
  
//   // .card a {
//   //   color: inherit;
//   // }
  
//   .card-wrapper {
//     list-style: none;
//     padding: 0;
//     margin: 0;
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
//     grid-gap: 1.5rem;
//     max-width: 100vw;
//     width: 120ch;
//     padding-left: 1rem;
//     padding-right: 1rem;
//   }
  
//   .column {
//     float: left;
//   }


  
* {
  box-sizing: border-box;
}
.card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
min-width: 30% !important;
max-width: 30% !important;
width: 30% !important;
margin: 5px 5px;
}

.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
padding: 2px 16px;
}
.flex {
display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.inline {
display: grid;
  width: 100%;
}
.card-image {
  img{
    width: 100%;
    height: 190px;
  }
  object-fit: cover;
}
